header.page-header
    .container
        .mobile-bar
          h1.logo
            a(href='/')
              img(src='http://yeoman.io/assets/img/logo.5674.png', alt='Yeoman')
          button.mobile-menu-toggle.ir open
        nav.main-menu
          ul.main-nav
            li
              a(href='/learning') Using Yeoman
              ul
                li
                  a(href='/learning/index.html') Getting started
                li
                  a(href='/codelab.html') Tutorial (codelab)
                li
                  a(href='/learning/resources.html') Resources
                li
                  a(href='/learning/deployment.html') Deployment
                li
                  a(href='/learning/faq.html') FAQ
                li
                  a(href='/learning/support.html') Support
            li
              a(href='/generators') Finding Generators
              ul
                li
                  a(href='/generators/official.html') Official Generators
                li
                  a(href='/generators/community.html') Community Generators
            li
              a(href='/authoring') Creating a generator
              ul
                li
                  a(href='/authoring/index.html') Getting started
                li
                  a(href='/authoring/running-context.html') Running Context
                li
                  a(href='/authoring/user-interactions.html') User Interactions
                li
                  a(href='/authoring/composability.html') Composability
                li
                  a(href='/authoring/dependencies.html') Managing Dependencies
                li
                  a(href='/authoring/file-system.html') Interacting with the file system
                li
                  a(href='/authoring/gruntfile.html') Creating a Gruntfile
                li
                  a(href='/authoring/storage.html') Storing user configs
                li
                  a(href='/authoring/testing.html') Unit testing
                li
                  a(href='http://yeoman.github.io/generator/') Full API documentation
            li
              a(href='/contributing') Contributing
              ul
                li
                  a(href='/contributing/index.html') Contributing
                li
                  a(href='/contributing/opening-issues.html') How to open an issue
                li
                  a(href='/contributing/pull-request.html') How to submit a PR
                li
                  a(href='/contributing/style-guide.html') Style Guide
                li
                  a(href='/contributing/testing-guidelines.html') Testing Guidelines
            li
              a(href='/blog') Blog
      //
         /.container 
